.link{
  color: #4254EC;
  font-weight: bold;
  font-size: 20px;
  margin-right: 40px;
  white-space: nowrap;
  height: 27px;
}
.active_link{
  color: #4254EC;
  font-weight: bold;
  font-size: 20px;
  margin-right: 40px;
  height: 27px;
  border-bottom: #4254EC 2.5px solid;
  border-radius: 1px;
  white-space: nowrap;
}


