.cont {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 95vh;
    // background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
    // background: rgb(245,135,71);background: rgb(25,25,129);
background: linear-gradient(227deg, rgba(25,25,129,1) 0%, rgba(35,35,43,1) 75%);
    border-radius: 12px;
    color: #fff;
    padding-top: 70px;
    text-align: left;
    font-weight: bold;
    margin-right: 30px;
    position: fixed;

    // overflow-x: scroll;
    // overflow-y:hidden;
    .unactive_link {
        width: 260px;
        height: 50px;
        margin-bottom: 16px;
        color: white;
        padding-left: 50px;
        align-items: center;
        display: flex;
        z-index: 1;
        // justify-content: center;
    }

    .active_link {
        width: 247px;
        margin-bottom: 16px;
        height: 50px;
        color: gray;
        background-color: #fff;
        padding-left: 43px;
        align-items: center;
        display: flex;
        // border-top-left-radius: 25px;
        border-radius: 8px;
        // border-radius: 25px;
        margin-left: 7px;
        position: relative;

        // .top_curve {
        //     position: absolute;
        //     left: -7px;
        //     width: 100%;
        //     height: 40px;
        //     background-color: #fff;
        //     top: -40px;
        //     z-index: 0;
        // }

        // .top_curve::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     // background-color: transparent;
        //     background: linear-gradient(270deg, #3548F5 1.17%, #F58747 110.83%);
        //     // background: linear-gradient(201deg, rgba(56,73,243,1) 21%, rgba(245,135,71,1) 100%);
        //     border-bottom-right-radius: 50px;
        // }

        // .bottom_curve {
        //     position: absolute;
        //     left: -7px;
        //     width: 100%;
        //     height: 40px;
        //     background: #fff;
        //     background-clip: border-box;
        //     bottom: -40px;
        //     z-index: 0;
        // }

        // .bottom_curve::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     border-top-right-radius: 50px;
        //     background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
        //     // background-clip: text;
        //     // background-color: transparent;
        //     // background: linear-gradient(201deg, rgba(56,73,243,1) 21%, rgba(245,135,71,1) 100%);
        // }
    }

    .exit {
        width: 260px;
        height: 50px;
        color: white;
        padding-left: 50px;
        margin-top: 20px;
    }
}